@import "bootstrap.min.css";

body {
  font-size: 62.5%;
background: hotpink;
}

ul {
  list-style:none;
}

h1 {color: Black;
  font-family: 'Futura', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  font-size: 2.4em;
}

h2, h3 {
  font-family: 'Futura', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.7em;
  font-weight: 400;
}


p {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 1.75em;
}

/*
----------------------------------------------------------------
	Media
---------------------------------------------------------------- */
img,
iframe,
video,
svg {
    display: block;
    max-width: 100%;
}



#mainsection{
margin-left: 20px;
margin-top:15px;
width:650px;
float:left;
padding:10px 5px 15px 20px;
color: #034575;
text-align:justify;
font-family: Georgia
}
