@import "bootstrap.min.css";

body {
  font-size: 62.5%;
  background: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
    font-size: 3em;
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

h1 {color: Black;
  font-family: 'Futura PT Condensed', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  font-size: 2em;
}

h2, h3 {
  font-family: 'Futura PT Condensed', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.7em;
  font-weight: 400;
}


p {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 1.25em;
}

/*
----------------------------------------------------------------
	Media
---------------------------------------------------------------- */
img,
iframe,
video,
svg {
    display: block;
    max-width: 100%;
}



#mainsection{
margin-left: 20px;
margin-top:15px;
width:650px;
float:left;
padding:10px 5px 15px 20px;
color: #034575;
text-align:justify;
font-family: Georgia
}

.primary-nav ul {
  margin:0;
  padding:0;
  }
.primary-nav li {
  float:left;
  list-style: none;
  text-align:center;
  }


  #navbar {
       margin:0;
       padding: 0;
    }

    #navbar ul {
       margin: 0;
       padding: 0;

    }

    #navbar ul li a {
       color: white;
       text-align: center;
       text-decoration: none;
       width: 50px;
       height: 30px;
       display: block;
    }

    #navbar ul ul{
       position: absolute;
       display: none;

    }

    #navbar ul li:hover ul{
      display: block;
    }
